In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot
from sklearn import linear_model
import math

In [5]:
df = pd.read_csv("hiring.csv")

In [8]:
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0          0                    8.0                           9      50000
1          0                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [9]:
df.experience.fillna(0, inplace=True)

In [14]:
from word2number import w2n

In [52]:
# for i in range(2,len(df)):
#     if(df['experience'][i].isnumeric()) == False:
#         print (w2n.word_to_num(df['experience'][i]))

for i in range(0,len(df)):
    if(isinstance(df['experience'][i], str)) == True:
        df['experience'][i] = w2n.word_to_num(df['experience'][i])

C:\Users\635746\AppData\Local\Temp\ipykernel_10268\3043862649.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['experience'][i] = w2n.word_to_num(df['experience'][i])

In [61]:
df.columns = ['experience', 'test_score', 'interview_score','salary']
df.columns

Index(['experience', 'test_score', 'interview_score', 'salary'], dtype='object')

In [63]:
median_value = math.floor(df.test_score.median())
median_value

8

In [64]:
df.test_score.fillna(median_value, inplace=True)

In [65]:
df

  experience  test_score  interview_score  salary
0          0         8.0                9   50000
1          0         8.0                6   45000
2          5         6.0                7   60000
3          2        10.0               10   65000
4          7         9.0                6   70000
5          3         7.0               10   62000
6         10         8.0                7   72000
7         11         7.0                8   80000

In [68]:
reg =linear_model.LinearRegression()
reg.fit(df[['experience', 'test_score','interview_score']], df.salary)

LinearRegression()

In [71]:
reg.predict([[3,10,10]])

C:\Users\635746\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([66685.58951965])

In [72]:
reg.coef_

array([2812.95487627, 1845.70596798, 2205.24017467])

In [73]:
reg.intercept_

17737.26346433771